development:
  adapter: mysql2
  encoding: utf8
  database: depot-development
  pool: 5
  host: localhost
  username: username
  password: password

test:
  adapter: mysql2
  encoding: utf8
  database: depot-test
  pool: 5
  username: username
  password: password
