development:
  secret_key_base: c8bc83b544fccc6612585e3d53f3c98251df0b955244d6bbcb8cfb18a6338b98646c8dfd1126f9f5e696fac6621f8e6a85b9f1c
  mail:
    user_name: 'user_name'
    password: 'password'

test:
  secret_key_base: 7f3e244984a9e6cc5b3d3c99b4fc52ebd7a7094ac6e6010e6a749d3ead5d12109e697b6d24411ef6fcb6a06f9edb97b59338e8xx

# Do not keep production secrets in the repository,
# instead read values from the environment.
prep:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  mail:
    user_name: 'user_name'
    password: 'password'
